.gitignore
*~
*.bak
*.old
*.rej
.deps
*.a
*.o
*.Po
Makefile
Makefile.am.*
config.*
Makefile.in
aclocal.m4
autom4te.cache/
configure
src/Makefile.in
src/archivers/dms/Makefile.in
src/archivers/zip/Makefile.in
src/caps/Makefile.in
src/gfx-amigaos/Makefile.in
src/gfx-beos/Makefile.in
src/gfx-cocoa/Makefile.in
src/gfx-curses/Makefile.in
src/gfx-sdl/Makefile.in
src/gfx-x11/Makefile.in
src/gui-beos/Makefile.in
src/gui-cocoa/Makefile.in
src/gui-gtk/Makefile.in
src/gui-muirexx/Makefile.in
src/gui-none/Makefile.in
src/gui-qt/Makefile.in
src/jd-amigainput/Makefile.in
src/jd-amigaos/Makefile.in
src/jd-beos/Makefile.in
src/jd-linuxold/Makefile.in
src/jd-none/Makefile.in
src/jd-sdl/Makefile.in
src/keymap/Makefile.in
src/md-68k/Makefile.in
src/md-amd64-gcc/Makefile.in
src/md-generic/Makefile.in
src/md-i386-gcc/Makefile.in
src/md-ppc-gcc/Makefile.in
src/md-ppc/Makefile.in
src/od-amiga/Makefile.in
src/od-beos/Makefile.in
src/od-generic/Makefile.in
src/od-linux/Makefile.in
src/od-macosx/Makefile.in
src/od-win32/Makefile.in
src/sd-alsa/Makefile.in
src/sd-amigaos/Makefile.in
src/sd-beos/Makefile.in
src/sd-none/Makefile.in
src/sd-sdl/Makefile.in
src/sd-solaris/Makefile.in
src/sd-uss/Makefile.in
src/td-amigaos/Makefile.in
src/td-beos/Makefile.in
src/td-none/Makefile.in
src/td-posix/Makefile.in
src/td-sdl/Makefile.in
src/td-win32/Makefile.in
src/test/Makefile.in
src/tools/autom4te.cache/
src/tools/configure
src/tools/blitops.c
src/tools/build68k.c
src/tools/genblitter.c
src/tools/gencomp.c
src/tools/gencpu.c
src/tools/genlinetoscr.c
src/tools/missing.c
src/tools/readcpu.c
src/tools/sysconfig.h
src/tools/writelog.c
src/*dep
src/md-fpp.h
src/od-macosx/Credits.rtf
src/od-macosx/Info.plist
src/sysconfig.h
src/target.h
src/blit.h
src/blitfunc.c
src/blitfunc.h
src/blittable.c
src/compemu.c
src/compstbl.c
src/comptbl.h
src/cpudefs.c
src/cpuemu_*.c
src/cpuemu_11.c
src/cpuemu_12.c
src/cpustbl.c
src/cputbl.h
src/linetoscr.c
src/tools/build68k
src/tools/cpudefs.c
src/tools/genblitter
src/tools/gencomp
src/tools/gencpu
src/tools/genlinetoscr
src/make_hdf
src/readdisk
src/uae
