*.a
/autom4te.cache/
autom4te.cache
/compile
/*.conf
/confdefs.h
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/configure.scan
/conftest.c
/conftest.err
/install-sh
/src/.deps/
/*/.deps/
/src/tools/configure
*.lo
log
*.log
/Makefile
/Makefile.in
/missing
*.la
*.o
/obj
/.obj
/out
/*.out.*
*-swp
*.swp
*.tar.gz
*.tar.xz
